*, *::before, *::after{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}
.central--column{
    max-width: 1300px;
}
@import 'core/settings';
@import 'layout/header';
@import 'layout/main-section';