<section class="info-section">
    <h2 class="info-title">¿Cuál es el plan?</h2>
    <ul class="list">
        <li class="item">
            <h3 class="item-title">La idea</h3>
            <p class="item-text">Salir a la montaña el próximo <span class="highlight">sábado día 11 de Mayo</span>  y realizar una actividad en la que todos podamos disfrutar y pasar un día agradable. Iremos desde Madrid hasta el Puerto de Navacerrada para hacer un poco de <span class="highlight">senderismo</span> y, quien se anime, probar la <span class="highlight">escalada</span>.</p>
        </li>
        <li class="item">
            <h3 class="item-title">Cómo llegar</h3>
            <p class="item-text"><span class="highlight">En coche:</span> Desde Madrid por la A-6 hasta Collado Villalba (Km. 40). Allí se toma el desvío por M-601 Madrid - Segovia hasta llegar al Puerto de Navacerrada.</p>
            <p class="item-text"><span class="highlight">En transporte público:</span> Desde el intercambiador de Moncloa, en Madrid. Línea 691 de Autobuses LARREA o en Cercanías Renfe desde la Estación de Chamartín (Madrid) se puede coger el Cercanías hasta Cercedilla (C-8b) y luego el Tren de Cotos (C-9) hasta el Puerto de Navacerrada.</p>
        </li>
        <li class="item">
            <h3 class="item-title">La actividad</h3>
            <p class="item-text">Saldremos desde el puerto de Navacerrada hacia el valle de la Barranca, subiremos a La Bola del Mundo y después descenderemos hasta la zona de Los Emburriaderos donde prepararemos una actividad de iniciación a la escalada. Finalmente comeremos todos juntos en el mirador de la Barranca y posteriormente retornaremos al punto de inicio.</p>
            <ul class="practical--info">
                <li class="practical--item"></li>
                <li class="practical--item"></li>
                <li class="practical--item"></li>
            </ul>
            <ul class="practical--info">
                <li class="practical--item"></li>
                <li class="practical--item"></li>
                <li class="practical--item"></li>
           </ul>
        </li>
        <li class="item">
                <h3 class="item-title">La organización</h3>
                <p class="item-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum voluptatibus fuga inventore. Necessitatibus non error magni explicabo quae voluptates doloribus similique ipsum quam accusamus! Commodi enim eligendi ex animi expedita.</p>
        </li>
    </ul>
</section>