<section class="info-section">
    <h2 class="info-title">¿Cuál es el plan?</h2>
    <ul class="list">
        <li class="item">
            <h3 class="item-title">La idea</h3>
            <p class="item-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum voluptatibus fuga inventore. Necessitatibus non error magni explicabo quae voluptates doloribus similique ipsum quam accusamus! Commodi enim eligendi ex animi expedita.</p>
        </li>
        <li class="item">
                <h3 class="item-title">La fecha</h3>
                <p class="item-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum voluptatibus fuga inventore. Necessitatibus non error magni explicabo quae voluptates doloribus similique ipsum quam accusamus! Commodi enim eligendi ex animi expedita.</p>
        </li>
        <li class="item">
                <h3 class="item-title">El lugar</h3>
                <p class="item-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum voluptatibus fuga inventore. Necessitatibus non error magni explicabo quae voluptates doloribus similique ipsum quam accusamus! Commodi enim eligendi ex animi expedita.</p>
        </li>
        <li class="item">
                <h3 class="item-title">La actividad</h3>
                <p class="item-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum voluptatibus fuga inventore. Necessitatibus non error magni explicabo quae voluptates doloribus similique ipsum quam accusamus! Commodi enim eligendi ex animi expedita.</p>
        </li>
        <li class="item">
                <h3 class="item-title">La organización</h3>
                <p class="item-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum voluptatibus fuga inventore. Necessitatibus non error magni explicabo quae voluptates doloribus similique ipsum quam accusamus! Commodi enim eligendi ex animi expedita.</p>
        </li>
    </ul>
</section>