<section class="practical--info">
  <h2 class="info-title">Información práctica</h2>
  <h3 class="item-title">Sobre la ruta</h3>
<ul class="route--info">
  <li class="practical--item"><i class="fas fa-ruler-horizontal"></i>
      <p class="highlight">Distancia: 10km</p>
  </li>
  <li class="practical--item">
      <i class="fas fa-undo"></i>
      <p class="highlight">Tipo de ruta: Circular</p>
  </li>
  <li class="practical--item">
      <i class="fas fa-arrow-circle-up"></i>
      <p class="highlight">Desnivel positivo: 500m</p>
  </li>
  <li class="practical--item">
      <i class="far fa-clock"></i>
      <p class="highlight">Tiempo estimado caminando: 4h</p>
  </li>
</ul>
<h3 class="item-title">¿Qué necesito llevar?</h3>
<ul class="required-stuff">
  <li class="practical--item">
      <i class="fas fa-tshirt"></i>
      <p>Ropa y calzado adecuados</p>
  </li>
  <li class="practical--item">
      <i class="fas fa-sun"></i>
      <p>Gorra y protección solar</p>
  </li>
  <li class="practical--item">
      <i class="fas fa-apple-alt"></i>
      <p>Comida y agua</p>
  </li>
</ul>
</section>