.wrapper--hero__image{
    position: relative;
    width:100%;
    height:400px;
    max-width: 1300px;
    display:flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-family: 'Caveat', cursive;
    font-size: 25px;    
    color:#F1EDEE;
    overflow: hidden;
    .default--img{
        position: absolute;
        top:0;
        left:0;
        height: 400px;
        width:100%;
        z-index:-1;
        background: url(../images/ffc-hero-mobile.png) no-repeat bottom;
        background-size: cover;
    }
    .text-wrap{
        margin-left: 10%;
    }
}
@media (min-width:768px) and (orientation: landscape){
    .wrapper--hero__image{
        height:600px;
        overflow: hidden;
        .upper--img{
            width: 1400px;
            height: 800px;
            background: url(../images/emburriaderos.png) no-repeat bottom;
            position: absolute;
            z-index: -2;
            background-size: cover;
        }
        .mid--img__high{
            width: 1200px;
            height: 600px;
            position: absolute;
            z-index:-3;
            background: url(../images/barranca.png) no-repeat;
            background-size: cover;
            top: 25%;
            right:0;
        }
        .mid--img__low{
            width: 968px;
            height: 372px;
            position: absolute;
            z-index:-4;
            background: url(../images/guarramillas.png) no-repeat;
            background-size: cover;
            top: 55%;
            right: 0;
        }
        .bottom--img{
            width: 246px;
            height: 142px;
            position: absolute;
            z-index: -5;
            background: url(../images/bola.png) no-repeat;
            background-size: cover;
            top: 38%;
            left: 60%;
        }
    }
}
